@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #641e85;
}

h1 {
    margin: 0 0 20px;

    font-family: 'Lobster', cursive;
    font-size: 45px;
    text-align: center;
    color: #fff200;

    text-shadow: 1.5px 1.5px .5px #fff;

    filter: drop-shadow(0 0 3px rgba(0,0,0,0.15));
}

h2 {
    margin: 0;

    font-family: 'Lobster', cursive;
    font-size: 24px;
    text-align: center;
    color: #fff200;
}

.grid {
    display: grid;
    grid-gap: 6px;
    min-width: 1000px;
    min-height: 1000px;
    margin: 40px auto;
}

.grid__item {
    padding: 2px 5px;

    font-family: sans-serif;
    text-align: center;

    background-color: #fff;
    border-radius: 4px;
}

.grid__item.grid__itemNull {
    background-color: rgba(255,255,255, .3);
}

.grid__gladeName {
    font-weight: 700;
    font-size: 1.125rem;
    color: #641e85;
}

.grid__timeCell {
    font-weight: 700;
}